header{
    background-color: #373b69;
    padding: 1rem;
    text-align: center;
}

.search{
    font-family: inherit;
    font-size: 1.2rem;
    background-color: transparent;
    border: 2x solid #ffffff;
    color: white;
    padding: 0.5rem 1.5rem;
}

.search:focus{
    outline: none;
}
